flows (3).json
[{"id":"595b4d13.c28e84","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e1eec53e.ce9248","type":"function","z":"595b4d13.c28e84","name":"PreToken","func":"global.set(\"row\",msg.payload.row)\nglobal.set(\"custid\",msg.payload.custid)\nglobal.set(\"sur\",msg.payload.sur)\nglobal.set(\"credit\",msg.payload.credit)\nglobal.set(\"geog\",msg.payload.geog)\nglobal.set(\"gend\",msg.payload.gend)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"ten\",msg.payload.ten)\nglobal.set(\"bal\",msg.payload.bal)\nglobal.set(\"nop\",msg.payload.nop)\nglobal.set(\"crc\",msg.payload.crc)\nglobal.set(\"iam\",msg.payload.iam)\nglobal.set(\"es\",msg.payload.es)\n\nvar apikey=\"HejpyM_wn67vdB79iHdziHU4EpNvOkJNs3XMy0Ga4KnX\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":260,"wires":[["7cf70ea0.3ecd7"]]},{"id":"7cf70ea0.3ecd7","type":"http request","z":"595b4d13.c28e84","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":350,"y":120,"wires":[["f514d84.88f1228"]]},{"id":"d6eb8a98.0d33b8","type":"inject","z":"595b4d13.c28e84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":120,"wires":[["e1eec53e.ce9248"]]},{"id":"18768165.bc2a1f","type":"debug","z":"595b4d13.c28e84","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":40,"wires":[]},{"id":"f514d84.88f1228","type":"function","z":"595b4d13.c28e84","name":"Pre Prediction","func":"var row = global.get('row')\nvar custid = global.get('custid')\nvar sur = global.get('sur')\nvar credit = global.get('credit')\nvar geog = global.get('geog')\nvar gend = global.get('gend')\nvar age = global.get('age')\nvar ten = global.get('ten')\nvar bal = global.get('bal')\nvar nop = global.get('nop')\nvar crc = global.get('crc')\nvar iam = global.get('iam')\nvar es = global.get('es')\nvar token=msg.payload.access_token\nvar instance_id=\"754b599e-b4ee-4839-a843-8a773f9d318f\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"RowNumber\", \"CustomerId\", \"Surname\", \"CreditScore\", \"Geography\", \"Gender\", \"Age\", \"Tenure\", \"Balance\", \"NumOfProducts\", \"HasCrCard\", \"IsActiveMember\", \"EstimatedSalary\"], \"values\": [[row,custid,sur,credit,geog,gend,age,ten,bal,nop,crc,iam,es]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":280,"wires":[["2c6f8277.641a7e"]]},{"id":"2c6f8277.641a7e","type":"http request","z":"595b4d13.c28e84","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/5458d335-88e7-4af0-9c25-e09ba3922bd0/predictions","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":120,"wires":[["d9f5fce0.5134f","18768165.bc2a1f"]]},{"id":"79e924a.38f9bdc","type":"ui_form","z":"595b4d13.c28e84","name":"","label":"","group":"ac728a96.f8da18","order":0,"width":0,"height":0,"options":[{"label":"RowNumber","value":"row","type":"number","required":true,"rows":null},{"label":"CustomerId","value":"custid","type":"number","required":true,"rows":null},{"label":"Surname","value":"sur","type":"text","required":true,"rows":null},{"label":"CreditScore","value":"credit","type":"number","required":true,"rows":null},{"label":"Geography","value":"geog","type":"text","required":true,"rows":null},{"label":"Gender","value":"gend","type":"text","required":true,"rows":null},{"label":"Age","value":"age","type":"number","required":true,"rows":null},{"label":"Tenure","value":"ten","type":"number","required":true,"rows":null},{"label":"Balance","value":"bal","type":"number","required":true,"rows":null},{"label":"NumOfProducts","value":"nop","type":"number","required":true,"rows":null},{"label":"HasCrCard","value":"crc","type":"number","required":true,"rows":null},{"label":"IsActiveMember","value":"iam","type":"number","required":true,"rows":null},{"label":"EstimatedSalary","value":"es","type":"number","required":true,"rows":null}],"formValue":{"row":"","custid":"","sur":"","credit":"","geog":"","gend":"","age":"","ten":"","bal":"","nop":"","crc":"","iam":"","es":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":46,"y":359,"wires":[["e1eec53e.ce9248"]]},{"id":"ae7eaf0b.70d6e","type":"ui_text","z":"595b4d13.c28e84","group":"ac728a96.f8da18","order":1,"width":0,"height":0,"name":"","label":"churned(0=no,1=yes)","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":100,"wires":[]},{"id":"d9f5fce0.5134f","type":"function","z":"595b4d13.c28e84","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":320,"wires":[["ae7eaf0b.70d6e"]]},{"id":"ac728a96.f8da18","type":"ui_group","z":"","name":"Default","tab":"d2c43050.0856b","order":1,"disp":true,"width":"6","collapse":false},{"id":"d2c43050.0856b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]